---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <div class="post-box">
    {% for post in paginator.posts%}
      <tidal-post-card
        heading="{{post.title}}"
        subheading="{{ post.date | date: "%b %-d, %Y" }} - {{post.content | number_of_words}} words"
        href="{{ post.url | prepend: site.baseurl }}"
      >
        {% assign words_in_excerpt = post.excerpt | number_of_words %}
        {% if words_in_excerpt < 50 %}
          <p>{{post.content | truncatewords:50}}</p>
        {% else %}
          <p>{{post.excerpt}}</p>
        {% endif %}
      </tidal-post-card>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <paper-button raised onClick="location.href='{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}'">Prev</paper-button>
    {% else %}
      <paper-button raised disabled>Prev</paper-button>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <paper-button raised class="current">{{ page }}</paper-button>
      {% elsif page == 1 %}
        <paper-button raised onClick="location.href='{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}'">{{ page }}</paper-button>
      {% else %}
        <paper-button raised onClick="location.href='{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}'">{{ page }}</paper-button>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <paper-button raised onClick="location.href='{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}'">Next</paper-button>
    {% else %}
      <paper-button raised disabled>Next</paper-button>
    {% endif %}
  </div>
  {% endif %}

  <br>
  <p class="rss-subscribe">scrubscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
