---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <div class="post-box">
    {% for post in site.posts%}
      <paper-card heading="{{post.title}}">
        <div class="card-content">
          <p class="post-box-card-subheading">{{ post.date | date: "%b %-d, %Y" }}</p>
          <p>{{post.content | truncate:300}}</p>
        </div>
        <div class="card-actions">
          <a href="{{ post.url | prepend: site.baseurl }}">Weiterlesen</a>
        </div>
      </paper-card>
    {% endfor %}
  </div>


  <h1>Kapitel</h1>

  <ul class="chapters-list">
    {% for chapter in site.chapters limit:3 %}
      <li>
        <a href="{{ chapter.url | prepend: site.baseurl}}">{{ chapter.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
