<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html"/>
  <link rel="import" href="/bower_components/iron-flex-layout/classes/iron-flex-layout.html"/>
  <link rel="import" href="/bower_components/iron-flex-layout/classes/iron-shadow-flex-layout.html"/>
  <link rel="import" href="/bower_components/iron-resizable-behavior/iron-resizable-behavior.html"/>
  <link rel="import" href="/bower_components/iron-menu-behavior/iron-menubar-behavior.html"/>
  <link rel="import" href="/bower_components/iron-icon/iron-icon.html"/>
  <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html"/>
  <link rel="import" href="/bower_components/paper-tabs/paper-tabs-icons.html"/>
  <link rel="import" href="/bower_components/paper-tabs/paper-tab.html"/>
  <link rel="import" href="/bower_components/paper-material/paper-material.html"/>
  <link rel="import" href="/bower_components/polymer/polymer.html"/>
  <link rel="import" href="/bower_components/polymer/polymer-mini.html"/>
  <link rel="import" href="/bower_components/polymer/polymer-micro.html"/>
  <link rel="import" href="/bower_components/paper-card/paper-card.html"/>
  <link rel="import" href="/bower_components/paper-material/paper-material.html"/>
  <link rel="import" href="/bower_components/paper-styles/shadow.html"/>
  <link rel="import" href="/bower_components/paper-styles/paper-styles.html"/>
  <link rel="import" href="/bower_components/paper-styles/color.html"/>
  <link rel="import" href="/bower_components/paper-styles/default-theme.html"/>
  <link rel="import" href="/bower_components/font-roboto/roboto.html"/>
  <link rel="import" href="/bower_components/paper-styles/typography.html"/>
  <link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html"/>
  <link rel="import" href="/bower_components/paper-tabs/paper-tabs.html"/>

  {% stylesheet main %}
</head>
