<paper-toolbar class="medium-tall">
  <a href="/"><div class="title">{{ site.title }}</div></a>
  <div class="bottom fit" horizontal layout>
    <paper-tabs selected="0" flex>
      <paper-tab link>
        <a href="/about" class="horizontal center-center layout">About</a>
      </paper-tab>
      <paper-tab link>
        <a href="/chapters" class="horizontal center-center layout">Kapitel</a>
      </paper-tab>
      <paper-tab link>
        <a href="#link3" class="horizontal center-center layout">id even k</a>
      </paper-tab>
    </paper-tabs>
  </div>
</paper-toolbar>
